<!DOCTYPE html>
<html>
<head>
    <title>Zentrix</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @Html.Partial("_Navbar")

    <div class="container">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

</body>
</html>