<nav class="navbar">
    <div class="logo">Zentrix <span class="mini">Tech Solutions</span></div>

    <div>
        <a href="/">Home</a>
        <a href="/Home/About">About</a>
        <a href="/Home/Contact">Contact</a>
    </div>
</nav>